@media (max-width: 1300px) {
  .header-logo > a > img {
    margin-left: 50px;
  }
}
@media (max-width: 1200px) {
  .h1 {
    font-size: 6.2rem;
    line-height: 70px;
  }
  h2 {
    font-size: 4.5rem;
    line-height: 53px;
  }
  h3 {
    font-size: 3.5rem;
    line-height: 43px;
  }
  .why-section h2 {
    margin-bottom: 50px;
  }
  .why-section-gird {
    grid-column-gap: 10px;
  }

  .footer-top-left img {
    width: 80%;
  }
  .footer-top {
    grid-column-gap: 45px;
  }
  .solution-section-top div {
    width: 80%;
  }
  .graph-section-grid div p {
    padding: 20px 0 20px 40px;
  }
}

@media (max-width: 1024px) {
  header {
    height: 55px;
  }
  .header-flexbox {
    height: 100%;
    width: 92%;
    margin: 0 auto;
  }
  .header-logo > a > img {
    width: 150px;
    margin-left: 0;
  }

  .header-nav {
    display: none;
  }

  .hamburger-btn {
    display: block;
    font-size: 2.7rem;
    cursor: pointer;
  }
  .hero-section {
    height: 85vh;
  }
  .hero-section-slide {
    height: 85vh !important;
  }
  .hero-section-slide > img {
    height: 85vh !important;
  }
  .h1 {
    font-size: 5.3rem;
    line-height: 61px;
  }
  .hero-section-slide-content h1 {
    color: white;
    margin-bottom: 50px;
    width: 90%;
  }
  .btn-style-1 a {
    padding: 13px 25px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px !important;
  }
  .swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
  }
  .experts-section-top-flex {
    column-gap: 100px;
  }
  .experts-section-bottom-grid {
    grid-column-gap: 20px;
  }

  h2 {
    font-size: 4rem;
    line-height: 50px;
  }
  h3 {
    font-size: 3.1rem;
    line-height: 38px;
  }
  h5 {
    font-size: 2.1rem;
    line-height: 30px;
  }
  .team-section-top-flex h2 {
    width: 85%;
  }

  .team-section-top-flex p {
    width: 85%;
  }
  .team-section-bottom-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .values-section-top-flex h2 {
    width: 85%;
  }
  .contact-section-grid {
    grid-template-columns: 1fr;
    grid-row-gap: 40px;
  }
  .contact-section {
    margin: 120px auto;
  }
  .goals-section-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 35px;
    margin-top: 60px;
    grid-row-gap: 35px;
  }
  .goals-section-grid div:nth-of-type(2) {
    border-right: none;
  }
  .goals-section {
    margin: 140px auto;
  }
  .graph-section-grid div p {
    padding: 20px 0 20px 25px;
  }
  .split-section-grid {
    grid-column-gap: 30px;
  }
  .split-section {
    margin: 140px auto 120px auto;
  }
  h4 {
    font-size: 2.9rem;
    line-height: 37px;
  }
}
@media (max-width: 786px) {
  .hero-section {
    height: 75vh;
  }
  .hero-section-slide {
    height: 75vh !important;
  }
  .hero-section-slide > img {
    height: 75vh !important;
  }
  .h1 {
    font-size: 4.5rem;
    line-height: 55px;
  }
  .para {
    line-height: 23px;
  }
  .hero-section-slide-content h1 {
    margin-bottom: 30px;
  }
  .cta-btn a {
    font-size: 14.5px;
  }
  .btn-style-1 a {
    padding: 11px 23px;
  }
  .why-section {
    margin: 120px auto 120px auto;
  }
  h2 {
    font-size: 3.5rem;
    line-height: 43px;
  }
  .why-section h2 {
    margin-bottom: 35px;
  }
  .why-section-gird {
    grid-template-columns: repeat(1, 1fr);
  }
  .why-section-gird div img {
    height: 270px !important;
    width: 100%;
  }
  .experts-section-top-flex {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 0;
    row-gap: 30px;
  }
  .experts-section-bottom-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 40px;
    margin-top: 65px;
  }
  .experts-section-bottom-grid div {
    border-bottom: 2px solid rgba(0, 30, 10, 0.3);
    border-right: 0;
    padding: 0 0 20px 0;
  }
  .experts-section-bottom-grid div:last-of-type {
    border-right: none;
    border-bottom: none;
  }
  .LR-split-section {
    margin: 100px auto 0 auto;
  }
  h3 {
    font-size: 2.7rem;
    line-height: 37px;
  }
  .LR-split-section-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .LR-split-section-grid img {
    height: 300px;
    min-height: 300px;
  }
  .LR-split-section-grid-right {
    position: relative;
    padding: 70px 0;
  }
  .LR-split-section-grid-right > div > div {
    width: 100%;
    margin: auto;
  }
  .btn-style-3 a {
    padding: 11px 23px;
  }
  .footer-bottom > div {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    row-gap: 7px;
    padding: 11px 0;
  }
  .footer-bottom-left {
    font-size: 1.4rem;
  }
  .footer-bottom-right nav a {
    font-size: 1.4rem;
  }
  .footer-top {
    grid-template-columns: 100%;
    padding: 40px 0 25px 0;
    grid-column-gap: 0;
    grid-row-gap: 45px;
  }
  .footer-top-left img {
    width: 250px;
    margin: 0 auto;
  }
  .footer-top-left {
    border-right: none;
  }
  .footer-top-right-nav {
    text-align: center;
  }
  .footer-top-right-nav:last-of-type nav {
    flex-direction: row;
    column-gap: 6px;
    justify-content: center;
    align-items: center;
  }
  .footer-top-right-nav nav a {
    font-size: 1.4rem;
    line-height: 23px;
    margin-top: 5px;
  }
  .btn-style-4 a {
    padding: 11px 23px;
    border: 2px solid transparent;
  }
  .RL-split-section-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .RL-split-section-grid img {
    display: none;
  }
  .RL-split-section-grid-left {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-image: url("../assets/6.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 450px;
    width: 100%;
  }
  .RL-split-section-grid-left > div {
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .RL-split-section-grid-left > div h1,
  .RL-split-section-grid-left > div p {
    color: white;
  }
  .RL-split-section-grid-left > div > div {
    width: 80%;
    margin-right: auto;
  }
  .RL-split-section-grid-left::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 30, 10, 0.65);
  }
  .RL-split-section-grid-left p {
    margin: 15px 0 25px 0;
  }
  .solution-section-top div {
    width: 100%;
  }
  h5 {
    font-weight: 600;
  }
  .solution-section-bottom-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 40px;
  }

  .solution-section-bottom-grid div img {
    height: 360px;
    width: 100%;
  }
  .team-section-bottom-grid div span {
    font-size: 16px;
    line-height: 20px;
  }
  .team-section-top-flex {
    flex-direction: column;
    column-gap: 0;
    row-gap: 30px;
  }
  .team-section-bg {
    padding: 100px 0;
  }
  .values-section {
    margin: 120px auto;
  }
  .values-section-top-flex {
    flex-direction: column;
    column-gap: 0;
    row-gap: 30px;
  }
  .contact-section {
    margin: 110px auto;
  }
  .info-section {
    margin: 90px auto 70px auto;
  }
  .info-section p {
    margin: 20px 0 40px 0;
  }
  .goals-section {
    margin: 120px auto;
  }
  .split-section {
    margin: 120px auto 130px auto;
  }
  .graph-section-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-top: 80px;
    grid-column-gap: 0;
    grid-row-gap: 40px;
  }
  .graph-section-grid img {
    object-fit: contain;
    object-position: center;
    height: 400px;
    width: 90%;
    margin: 0 auto;
  }
  .graph-section-grid div {
    border-left: none;
  }
  .graph-section-grid div p {
    padding: 0 0 15px 0;
    text-align: center;
  }
  .split-section-grid {
    grid-column-gap: 0;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .split-section {
    margin: 70px auto 90px auto;
  }
  .split-section-grid img {
    height: 380px;
  }
}

@media (max-width: 576px) {
  header {
    height: 50px;
  }

  .header-logo > a > img {
    width: 130px;
  }
  .hamburger-btn {
    font-size: 2.4rem;
  }
  .hero-section {
    height: 50vh;
  }
  .hero-section-slide {
    height: 50vh !important;
  }
  .hero-section-slide > img {
    height: 50vh !important;
  }
  .h1 {
    font-size: 3.3rem;
    line-height: 39px;
  }
  .hero-section-slide-content h1 {
    margin-bottom: 30px;
  }
  .btn-style-1 a {
    padding: 11px 18px;
  }
  .cta-btn a i {
    margin-left: 8px;
  }
  .why-section {
    margin: 100px auto 100px auto;
  }
  h2 {
    font-size: 3rem;
    line-height: 38px;
  }
  .why-section h2 {
    margin-bottom: 35px;
  }
  .why-section-gird div img {
    height: 330px;
  }
  .para {
    font-size: 1.55rem;
  }
  .LR-split-section {
    margin: 80px auto 0 auto;
  }
  h3 {
    font-size: 2.4rem;
    line-height: 33px;
  }
  .btn-style-3 a {
    padding: 11px 18px;
  }
  .footer-bottom-left {
    font-size: 1.1rem;
  }

  .btn-style-4 a {
    padding: 11px 18px;
  }
  h5 {
    font-size: 1.9rem;
    line-height: 26px;
  }
  .RL-split-section-grid-left {
    min-height: 350px;
  }
  .solution-section-bottom-grid div img {
    height: 280px;
    width: 100%;
  }
  .solution-section {
    margin: 90px auto;
  }
  .team-section-bottom-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .team-section-bottom-grid div img {
    object-fit: cover;
    object-position: center;
    height: 340px;
  }
  .team-section-top-flex h2 {
    width: 100%;
  }

  .team-section-top-flex p {
    width: 100%;
  }
  .values-section {
    margin: 80px auto;
  }
  .values-section-top-flex h2 {
    width: 100%;
  }
  .values-section-bottom-grid {
    margin-top: 50px;
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-section {
    margin: 80px auto;
  }
  .contact-form-inputset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    column-gap: 0;
    row-gap: 0;
  }
  .promise-section p {
    margin: 20px 0 0 0;
  }
  .goals-section > h2 {
    width: 100%;
  }

  .goals-section > p {
    margin: 20px 0 50px 0;
    width: 100%;
  }
  .goals-section {
    margin: 100px auto;
  }
  .goals-section-grid {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 25px;
  }
  .goals-section-grid div {
    border-right: none;
    border-bottom: 2px solid rgba(0, 30, 10, 0.3);
    padding-bottom: 18px;
  }
  .goals-section-grid div:last-of-type {
    border-bottom: none;
  }
  .graph-section h3 {
    width: 100%;
  }
  .split-section-grid h4 {
    margin-bottom: 15px;
  }
  .split-section-grid img {
    height: 300px;
  }
}
