/* For Headings */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* For Main Layout */

/* -----CSS Default Reset----- */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
:root {
  --dark-green: #001e0a;
  --electric-green: #68c184;
  --white-clr: #ffffff;
  --amber-clr: #df8a19;
  --grey-clr: #f2f4f3;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
@font-face {
  font-family: "alliance-bold";
  src: url("../fonts/Alliance-NeueBold.otf");
}
@font-face {
  font-family: "alliance-regular";
  src: url("../fonts/Alliance-NeueRegular.otf");
}
@font-face {
  font-family: "alliance-light";
  src: url("../fonts/Alliance-NeueLight.otf");
}
@font-face {
  font-family: "alliance-text";
  src: url("../fonts/Alliance-TextRegular.otf");
}
body {
  font-family: "alliance-light";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.35;
  -webkit-font-smoothing: antialiased !important;
  overflow-x: hidden;
  overflow-y: auto;
}

ul,
ol {
  list-style: none;
}

img,
svg {
  display: block;
  max-width: 100%;
}

a {
  color: unset;
  text-decoration: none;
}
.container {
  max-width: 1200px;
  width: 92%;
  margin: 0 auto;
}
.header-container {
  max-width: 1500px;
  width: 92%;
  margin: 0 auto;
}
h1 {
  font-family: "alliance-regular";
  font-size: 7.2rem;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0.05em;
  color: var(--dark-green);
}
h2 {
  font-family: "alliance-regular";
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0.05em;
  color: var(--dark-green);
}
h3 {
  font-family: "alliance-regular";
  font-size: 4rem;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0.05em;
  text-align: left;
  color: var(--dark-green);
}
h4 {
  font-family: "alliance-regular";
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0.05em;
  color: var(--dark-green);
}
h5 {
  font-family: "alliance-regular";
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.05em;
  color: var(--dark-green);
}
.para {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 1px;
  color: var(--dark-green);
  font-family: "alliance-regular";
}
/*--------------- Home Page Styling------------ */
/*---------- Header----------- */
header {
  background-color: white;
  height: 65px;
}
.header-flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: relative;
  height: 100%;
}

.header-logo > a > img {
  width: 180px;
  height: 32.54px;
  margin-left: 100px;
}
.header-nav {
  height: 100%;
}
.header-nav nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.header-nav nav > span {
  display: block;
  height: 100%;
}

.header-nav nav > span > a {
  font-family: "alliance-regular";
  display: block;
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  color: var(--dark-green);
  height: 100%;
}
.sub-menu-link {
  position: relative;
}

.header-nav nav > span:hover > a {
  color: var(--amber-clr);
}
.sub-menu-link {
  position: relative;
}
.sub-menu-dropdown {
  position: absolute;
  top: 50px;
  background-color: white;
  z-index: 10;
  padding: 15px 25px;
  width: 270px;
  filter: drop-shadow(5px 20px 10px rgb(0, 0, 0, 0.2));
  display: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.sub-menu-link:last-of-type .sub-menu-dropdown {
  right: 0;
}
.sub-menu-link:hover .sub-menu-dropdown {
  display: block;
}

.sub-menu-dropdown > ul > li > a {
  padding: 17px 0;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--dark-green);
  font-weight: 600;
  transform: translateX(0);
  transition: all 0.3s ease-in-out;
}
.sub-menu-dropdown ul li a:hover {
  color: var(--amber-clr);
  text-decoration: underline;
  text-underline-offset: 5px;
  transform: translateX(10px);
}

.hamburger-btn {
  display: none;
  color: var(--electric-green);
}
.contact-nav-btn {
  background-color: var(--electric-green);
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 14px;
  align-items: center;
  padding: 5px 34px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
  color: white;
}
.contact-nav-btn:hover {
  background-color: var(--amber-clr);
  background-color: var(--dark-green);
}
.current-page {
  border-bottom: 4px solid var(--electric-green);
}

/* ------------Mobile Nav------------ */
.mobile-nav-slider {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  background-color: var(--electric-green);
  display: none;
  z-index: 10;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mobile_nav_slide_show {
  display: block;
  animation: slideIn 0.6s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  40% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.mobile-nav-slider-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 15px;
}

.mobile-nav-slider-top i {
  color: white;
  font-size: 2.7rem;
  cursor: pointer;
  margin: 10px 10px;
  padding: 2px;
  cursor: pointer;
}
.mobile-nav-slider-top i:hover {
  color: var(--dark-green);
}
.mobile-nav-menu {
  height: 80vh;
  overflow-y: auto;
}
.mobile-nav-menu::-webkit-scrollbar {
  width: 10px; /* Adjust the width as needed */
  background-color: white; /* Dark grey color for the track */
  height: 8px;
  border-radius: 2px;
}
.mobile-nav-menu::-webkit-scrollbar-thumb {
  background-color: var(--dark-green); /* Light grey color for the thumb */
  border: 2px solid var(--dark-green); /* Add a border to the thumb */
  border-radius: 2px; /* Rounded corners for the thumb */
}
.mobile-nav-menu > nav {
  margin-top: 30px;
}
.mobile-nav-menu > nav > span a {
  padding: 13px 0;
  margin: 0 25px;
  display: block;
  color: white;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.25px;
}

.mobile-nav-menu > nav > span a:hover {
  color: var(--dark-green);
}

.mobile-nav-link > a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.mobile-nav-link > a > span > i {
  color: var(--tutor-light-color);
  font-size: 1.4rem;
  cursor: pointer;
}
.mobile-nav-link {
  cursor: pointer;
}
.mobile-nav-dropdown {
  display: none;
  margin: 0 0 10px 0;
}

.mobile-nav-dropdown ul li a {
  color: var(--dark-green);
  padding: 5px 15px;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 1.25px;
}
.mobile-nav-dropdown ul li a:hover {
  color: var(--beige);
}
.mobile-nav-dropdown-show {
  display: block;
}
.mobile-nav-link a i {
  padding: 0 8px;
}
/*---------- Hero Section--------------- */
.hero-section {
  width: 100%;
  height: calc(100vh - 65px);
}
.hero-section .swiper {
  position: relative !important;
}
.hero-section-slide {
  height: calc(100vh - 65px) !important;
  width: 100%;
  position: relative !important;
}
.hero-section-slide > img {
  height: calc(100vh - 65px) !important;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-section-slide::after {
  background-color: rgba(0, 30, 10, 0.7);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.hero-section-slide-content-inner-container {
  position: absolute;
  top: 40%;
  transform: translateY(-40%);
  width: 100%;
  z-index: 5;
}
.hero-section-slide-content {
  animation: fadeIn ease 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-section-slide-content h1 {
  color: white;
  margin-bottom: 50px;
  width: 90%;
}
.cta-btn {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  width: max-content;
}

.cta-btn a {
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  width: max-content;
  font-family: "alliance-regular";
  letter-spacing: 1px;
}
.cta-btn a i {
  color: var(--electric-green);
  margin-left: 12px;
}

.btn-style-1 a {
  background-color: var(--white-clr);
  color: var(--dark-green);
  padding: 16px 28px;
  transition: all 0.5s ease-in-out;
}
.btn-style-1 a:hover {
  background-color: var(--amber-clr);
  color: white;
}

.swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
  background: white !important;
  opacity: 0.3 !important;
}
.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: white !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 30px !important;
  top: var(--swiper-pagination-top, auto);
  left: 0;
  width: 100%;
}
/* --------------Why Section-------------- */
.why-section {
  margin: 140px auto 140px auto;
}

.why-section h2 {
  margin-bottom: 60px;
}

.why-section-gird {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 20px;
}

.why-section-gird div {
  background-color: var(--dark-green);
}

.why-section-gird div img {
  object-fit: cover;
  object-position: center;
}
.why-section-gird > div > div {
  background-color: var(--dark-green);
  padding: 28px;
  border-top: 6px solid var(--electric-green);
}
.why-section-gird > div > div h5 {
  color: var(--amber-clr);
  margin-bottom: 8px;
}

.why-section-gird > div > div p {
  color: white;
}

/*---------- Experts Section ------------*/

.section-tag {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 22px;
  color: var(--amber-clr);
  margin-bottom: 25px;
  display: inline-block;
  letter-spacing: 1.2px;
}

.experts-section-top-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 150px;
}

.experts-section-top-flex p {
  margin: 20px 0 0 0;
}

.btn-style-2 a {
  color: var(--dark-green);
}
.btn-style-2 a:hover {
  color: var(--amber-clr);
  cursor: pointer;
}
.experts-section-bottom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 40px;
  margin-top: 65px;
}

.experts-section-bottom-grid div {
  border-right: 2px solid rgba(0, 30, 10, 0.3);
  padding-right: 35px;
  padding-left: 10px;
}
.experts-section-bottom-grid div:last-of-type {
  border-right: none;
}
.experts-section-bottom-grid div img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  object-position: center;
}

.experts-section-bottom-grid div h5 {
  margin: 18px 0 15px 0;
}

/* -------Split Section---------- */
.LR-split-section {
  margin: 140px auto 0 auto;
  background-color: var(--grey-clr);
}

.LR-split-section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}

.LR-split-section-grid img {
  object-fit: cover;
  object-position: center;
  min-height: 540px;
  width: 100%;
}

.LR-split-section-grid-right {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.LR-split-section-grid-right > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  width: 92%;
  margin: 0 auto;
  height: 100%;
}
.LR-split-section-grid-right > div > div {
  width: 40%;
  margin-left: auto;
}
.LR-split-section-grid-right p {
  margin: 15px 0 25px 0;
}

.btn-style-3 a {
  background-color: var(--dark-green);
  color: white;
  padding: 16px 28px;
  width: fit-content;
  transition: all 0.5s ease-in-out;
}

.btn-style-3 a:hover {
  background-color: var(--amber-clr);
}

/* ----------Footer----------- */
footer {
  width: 100%;
  background-color: var(--dark-green);
}

.footer-top {
  display: grid;
  grid-template-columns: 34% 66%;
  padding: 100px 0;
  grid-column-gap: 75px;
}

.footer-top-left {
  border-right: 2px solid var(--electric-green);
}
.footer-top-left img {
  width: 330px;
}
.footer-top-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 26px;
}

.footer-top-right-nav span {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 22px;
  color: var(--electric-green);
  display: block;
  margin-bottom: 15px;
  letter-spacing: 1.2px;
}

.footer-top-right-nav nav {
  display: flex;
  flex-direction: column;
}

.footer-top-right-nav nav a {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 1px;
}
.footer-top-right-nav nav a:hover {
  color: var(--amber-clr);
}

.footer-top-right-nav:last-of-type nav {
  flex-direction: row;
  column-gap: 10px;
}
.footer-top-right-nav:last-of-type > nav > a {
  width: 25px;
  height: 25px;
  background-color: var(--amber-clr);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: var(--dark-green);
}
.footer-top-right-nav:last-of-type > nav > a:hover {
  background-color: var(--electric-green);
}
.footer-bottom {
  background-color: white;
  width: 100%;
}
.footer-bottom > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 16px 0;
  font-family: "alliance-regular";
  color: var(--dark-green);
}

.footer-bottom-left {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1.2px;
}

.footer-bottom-right nav a {
  margin-left: 35px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 1.2px;
}
.footer-bottom-right nav a:hover {
  color: var(--amber-clr);
  cursor: pointer;
}

/* -------------Services Page-------------- */
/* ------R to L Split Section ---------*/

.RL-split-section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.RL-split-section-grid-right-img {
  grid-column: 2;
}
.RL-split-section-grid img {
  object-fit: cover;
  object-position: center;
  height: 560px;
  width: 100%;
}

.RL-split-section-grid-left {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.RL-split-section-grid-left > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  width: 92%;
  margin: 0 auto;
  height: 100%;
}
.RL-split-section-grid-left > div > div {
  width: 40%;
  margin-right: auto;
}
.RL-split-section-grid-left p {
  margin: 25px 0 25px 0;
}

.btn-style-4 a {
  background-color: white;
  border: 2px solid var(--dark-green);
  color: var(--dark-green);
  padding: 16px 28px;
  width: fit-content;
  transition: all 0.5s ease-in-out;
}

.btn-style-4 a:hover {
  background-color: var(--amber-clr);
  border: 2px solid transparent;
  color: white;
}

/* ----------Solutions Section---------- */
.solution-section {
  margin: 120px auto;
}

.solution-section-top div {
  width: 70%;
}

.solution-section-top h2 {
  color: var(--dark-green);
}

.solution-section-top p {
  margin: 20px 0 60px 0;
}

.solution-section-bottom-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.solution-section-bottom-grid div img {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/0.8;
  width: 100%;
}

.solution-section-bottom-grid div h5 {
  margin: 18px 0 15px 0;
}

.solution-section-bottom-grid div p {
  padding-right: 15px;
}

/* -----------About Page---------- */
/*--------- Team Section------------ */
.team-section {
  background-color: var(--grey-clr);
}
.team-section-bg {
  padding: 120px 0;
}
.team-section-top-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 20px;
}

.team-section-top-flex h2 {
  width: 50%;
}

.team-section-top-flex p {
  margin: 20px 0 0 0;
  width: 100%;
}

.team-section-bottom-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 30px;
}

.team-section-bottom-grid div img {
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1/ 1;
  width: 100%;
}

.team-section-bottom-grid div h5 {
  margin: 14px 0 7px 0;
}

.team-section-bottom-grid div span {
  color: var(--electric-green);
  font-size: 17px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: 1px;
}

/*------------ Values Section--------------- */
.values-section {
  margin: 150px auto;
}

.values-section-top-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 20px;
}

.values-section-top-flex h2 {
  width: 70%;
}

.values-section-top-flex p {
  margin: 20px 0 0 0;
  width: 100%;
}

.values-section-bottom-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 25px;
}
.values-section-bottom-grid > div {
  border-top: 1px solid rgba(128, 142, 132, 1);
}
.values-section-bottom-grid div h5 {
  margin: 18px 0 8px 0;
}

.values-section-bottom-grid div p {
  padding-right: 15px;
}

/* -----------Contact Page------------ */
/* ----------Contact Section -------------*/
.contact-section {
  margin: 150px auto;
}

.contact-section > p {
  margin: 30px 0 60px 0;
}

.contact-section-grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-column-gap: 60px;
}

.contact-form-inputset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
}

.contact-form-inputset div {
  width: 100%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"],
.contact-form textarea {
  border: none;
  background: transparent;
  border: 1px solid rgba(128, 142, 132, 1);
  outline: none;
  padding: 9px 10px;
  font-size: 1.6rem;
  font-family: "alliance-regular";
  margin: 10px 0 35px 0;
  width: 100%;
  color: var(--dark-green);
}

.contact-form select {
  appearance: none;
  border: none;
  background: transparent;
  border: 1px solid rgba(128, 142, 132, 1);
  outline: none;
  padding: 11px 10px;
  font-size: 1.5rem;
  width: 100%;
  color: var(--dark-green);
  font-family: "alliance-regular";
}
.contact-form .select-div {
  position: relative;
  margin: 10px 0 35px 0;
}
.contact-form .select-div::after {
  position: absolute;
  content: url("../assets/Vector.svg");
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  cursor: pointer;
}
.contact-form button {
  outline: none;
  border: none;
  background-color: var(--dark-green);
  display: block;
  color: white;
  transition: all 0.4s ease-in-out;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  width: max-content;
  font-family: "alliance-regular";
  letter-spacing: 1px;
  padding: 16px 28px;
}
.contact-form button i {
  color: var(--electric-green);
  margin-left: 10px;
  transition: all 0.4s ease-in-out;
}
.contact-form button:hover {
  cursor: pointer;
  background-color: var(--electric-green);
}
.contact-form button:hover i {
  color: var(--dark-green);
}

.contact-section-grid-right div {
  background-color: var(--grey-clr);
  margin-bottom: 30px;
  padding: 25px;
}
.contact-section-grid-right div h5 {
  font-weight: 600;
}
.contact-section-grid-right div p {
  margin: 15px 0 20px 0;
}

.btn-style-5 {
  color: var(--electric-green);
}
.btn-style-5:hover {
  color: var(--amber-clr);
}

/* --------Sustainability Page---------- */
/*------- Info Section -----------*/
.info-section {
  margin: 120px auto 90px auto;
  border-bottom: 2px solid rgba(0, 30, 10, 0.3);
}

.info-section h2 {
  width: 790px;
  max-width: 100%;
  color: var(--electric-green);
}

.info-section p {
  margin: 30px 0 60px 0;
}

/*--------- Promise Section------------ */

.promise-section h2 {
  width: 90%;
  max-width: 1000px;
}

.promise-section p {
  margin: 35px 0 10px 0;
  width: 90%;
  max-width: 1000px;
}

/* Goals Section */
.goals-section {
  margin: 170px auto;
}

.goals-section > h2 {
  width: 90%;
  max-width: 950px;
}

.goals-section > p {
  margin: 30px 0 60px 0;
  width: 90%;
  max-width: 950px;
}

.goals-section-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 40px;
  margin-top: 80px;
}

.goals-section-grid div {
  border-right: 2px solid rgba(0, 30, 10, 0.3);
  padding-right: 30px;
}

.goals-section-grid div:last-of-type {
  border-right: none;
}
.goals-section-grid h5 {
  margin-bottom: 20px;
  color: var(--dark-green);
}

/* ----------Graph Section------------ */
.graph-section h3 {
  width: 90%;
  max-width: 950px;
}

.graph-section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 80px;
  grid-column-gap: 60px;
}

.graph-section-grid img {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.graph-section-grid div {
  border-left: 2px solid rgba(0, 30, 10, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph-section-grid div p {
  padding: 20px 0 20px 56px;
}

/*----------- Split Section ------------*/
.split-section {
  margin: 160px auto 130px auto;
}

.split-section-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 60px;
}

.split-section-grid img {
  object-fit: cover;
  object-position: center;
  height: 100%;
  width: 100%;
}
.split-section-grid div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.split-section-grid h4 {
  margin-bottom: 30px;
}
